img {
    width: 90px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid lightblue;
    border-radius: 50%;
    height: 90px;
}

.card .stats a {
    
    padding: 0 5px;
}

.card .stats {
    padding-top: 15px;
}

 .btn-fill {
    padding: 5px;
    margin: 0 10px;
}

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    font-size: 18px;
    color: #444;
}