<div class="modal fade" [id]="modalDeleteUser" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <h2>Are you sure you want to delete User?</h2>
            <div class="modal-footer">
                    <div class="row">
                        <button class="btn btn-secondary btn-xl" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-success btn-xl" type="submit" data-dismiss="modal" (click)="deleteUser(customer)">Save</button>
                    </div>
                </div>

        </div>
    </div>
</div>